@font-face {
  font-family: 'DropDead'; src: url('../font/DropDead.otf');
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
  line-height: 1.3em;
  font-size: 16px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

/* =================================================
Basic Layout
================================================= */

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  padding: 60px;
  text-align: center;
}

.main {
  clear: both;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

a.logo:hover {
  text-decoration: none;
}

#logo {
  color: red;
}

table.program {
  width: 500px;
  margin: 0 auto;
  position: relative; }
  table.program td {
    vertical-align: text-top;
    padding: 0.2em 0.3em; }
  table.program td:nth-child(1) {
    text-align: right;
    width: 40%;
    font-weight: bold; }
  table.program td:nth-child(2) {
    text-align: left;
}

.categories li {
  background: yellow;
  margin: 5px;
  display: inline-block;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

/* =================================================
Headings
================================================= */


h1, h2 {
  font-family: "DropDead";
  font-weight: normal;
  line-height: 1em;
}

h3, h4, h5, h6 {
  font-family: "DropDead";
  font-weight: normal;
}

h1 {
  font-size:120px;
  line-height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  margin-bottom: 0px;
}

footer h2 {
  margin-top: 20px;
}

/* =================================================
Sections
================================================= */

#header {
  background-color: #9eff36;
}

#about {
  background-color: #E6834A;
}

#schedule {
  background-color: #fa5ba5;
}

#register {
  background-color: #303030;
  color: white;
}

#categories {
  background-color: #42b983;
}

#other {
  background-color: #9373C1;
}

#sponsors {
  background-color: #00B8A9;
}

/* =================================================
Mobile
================================================= */

@media screen and (max-width: 800px) {
  .main {
    padding: 15px;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 15px;
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
