@import url('https://fonts.googleapis.com/css?family=Lato:300');
@font-face {
  font-family: 'DropDead'; src: url('../font/DropDead.otf');
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;

  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #222;
  letter-spacing: 1.3px;
  line-height: 1.3em;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

/* =================================================
Basic Layout
================================================= */

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  padding: 60px;
  text-align: center;
}

.main {
  clear: both;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

a.logo:hover {
  text-decoration: none;
}

#logo {
  color: red;
}

.stupidShitLogo {
  position: fixed;
  top: 80%;
  left: 85%;
  width: 100px;
  height: auto;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.logoContainer {
  display: block;
  width 124px;
  height: 93px;
  background: url("/img/logo.png") -868px -2511px no-repeat;
  top: 338px;
  left: 1056.8px;
}

table.program {
  width: 500px;
  margin: 0 auto;
  position: relative; }
  table.program td {
    vertical-align: text-top;
    padding: 0.2em 0.3em; }
  table.program td:nth-child(1) {
    text-align: right;
    width: 40%;
    font-weight: bold; }
  table.program td:nth-child(2) {
    text-align: left;
}

/*ul, ol*/
.entries {
  list-style-type: none;
}

.categories li {
  background: yellow;
  margin: 5px;
  display: inline-block;
}

.sponsors li {
  background: yellow;
  margin: 5px;
  display: inline-block;
}

.link {
  background: yellow;
  margin: 5px;
  display: inline-block;
}

.splendid {
  cursor: help;
}

p {
  padding: 10px 0 10px 0;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

/* =================================================
Headings
================================================= */


h1, h2 {
  font-family: "DropDead";
  font-weight: normal;
  line-height: 1.2em;
}

h3, h4, h5, h6 {
  font-family: "DropDead";
  font-weight: normal;
}

h1 {
  font-size:120px;
  line-height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  margin-bottom: 0px;
}

footer h2 {
  margin-top: 20px;
}

/* =================================================
Sections
================================================= */

#header {
  background-color: #9eff36;
}

#about {
  background-color: #303030;
  color: #ddd;
}

#schedule {
  background-color: #fa5ba5;
}

#register {
  background-color: #E6834A;
}

#categories {
  background-color: #42b983;
}

#other {
  background-color: #9373C1;
}

#sponsors {
  background-color: #00B8A9;
}

#attributions {
  background-color: #000;
}

/* =================================================
Mobile
================================================= */

@media screen and (max-width: 800px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  table.program {
    width: 300px;
    margin: 0 auto;
    position: relative;
    max-width: 90%
  }
    table.program td {
      vertical-align: text-top;
      padding: 0.2em 0.3em; }
    table.program td:nth-child(1) {
      text-align: right;
      width: 40%;
      font-weight: bold; }
    table.program td:nth-child(2) {
      text-align: left;
  }
}
