@font-face {
  font-family: 'DropDead'; src: url('../font/DropDead.otf');
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
  line-height: 1.3em;
  font-size: 16px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

/* =================================================
Basic Layout
================================================= */

.container {
  background-color: white;
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.main {
  clear: both;
  padding: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

a.logo:hover {
  text-decoration: none;
}

table.program {
  width: 500px;
  margin: 0 auto;
  position: relative; }
  table.program td {
    vertical-align: text-top;
    padding: 0.2em 0.3em; }
  table.program td:nth-child(1) {
    text-align: right;
    width: 40%;
    font-weight: bold; }
  table.program td:nth-child(2) {
    text-align: left; }

.center {
  text-align: center;
}

.clear {
  clear: both;
}

/* =================================================
Headings
================================================= */


h1, h2 {
  font-family: "DropDead";
  font-weight: normal;
  line-height: 1em;
}

h3, h4, h5, h6 {
  font-family: "DropDead";
  font-weight: normal;
}

h1 {
  font-size:120px;
  line-height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  margin-bottom: 0px;
}

footer h2 {
  margin-top: 20px;
}



/* =================================================
Mobile
================================================= */

@media screen and (max-width: 800px) {
  .main, footer {
    padding: 15px;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

